﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
    <link href="@Url.Content("~/Content/Main.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="allContent">
        <h6>NIP/KRS/REGON</h6>
        <div>
            <input value="" type="text" id="compString" />
            <input value="Pobierz dane" type="button" onclick="getData();" class="button"/>
            <div id="allData" style="display: none">
                <div>
                    <div>
                        <div class="field-name">Nazwa</div>
                        <input type="text" id="nameInput" class="field-input"/>
                    </div>
                    <div class="fiel-line">
                            <div class="field-name">Ulica</div>
                            <input type="text" id="streetInput" class="field-input"/>
                        </div>
                        <div>
                            <div class="field-name">Numer</div>
                            <input type="text" id="numberInput" class="field-input"/>
                        </div>
                    </div>
                    <div class="field-line">
                        <div class="field-element">
                            <div class="field-name">Kod pocztowy</div>
                            <input type="text" id="zipInput" class="field-input"/>

                        </div>
                        <div class="field-element">
                            <div class="field-name">Miasto</div>
                            <input type="text" id="cityInput" class="field-input"/>
                        </div>
                    </div>


                </div>
            </div>
            <p id="not_found" />

    </div>
    <div class="info">
        Przykładowe numery. <br />
        NIP:<br />
         - 1111111111<br />
         - 2222222222<br />
        REGON:<br />
        - 101010101<br />
        - 202020202<br />
        KRS:<br />
        - 0000000001<br />
        - 0000000002
    </div>
    <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
    <script>
        var uri = 'api/CompanyApi'

        function populateInputs(json) {
            $('#nameInput').val(json.Name);
            $('#streetInput').val(json.Street);
            $('#numberInput').val(json.Apartment_no);
            $('#zipInput').val(json.Zip_code);
            $('#cityInput').val(json.City);
        }
        function dePopulateInputs() {
            $('#nameInput').val("");
            $('#streetInput').val("");
            $('#numberInput').val("");
            $('#zipInput').val("");
            $('#cityInput').val("");
        }

        function getData() {
            var id = $("#compString").val();
            $.getJSON('../' + uri + '/' + id)
                .done(function (data, textStatus, jqXHR) {
                    $('#allData').show();
                    $('#not_found').hide();
                    var json = JSON.stringify(data);
                    populateInputs(JSON.parse(json));
                })
                .fail(function (jqXHR, textStatus, err) {
                    dePopulateInputs();
                    $('#allData').show();
                    $('#not_found').show();
                    $('#not_found').text('Nie znaleziono danych!');
                });
        }
    </script>

</body>
</html>