﻿body {
    display: inline-flex;
    width: 600px;
}
.allContent {
    margin-left: 10%;
    margin-right: 10%;
    display:block;
    width: 50%;
}
.button {
    background-color: #ffffff;
    border: solid 1px;
    border-radius: 8px;
    border-color: #171717;
    color: #000000;
    padding: 8px 22px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin-left:65px;
    margin-bottom:10px;
}
#compString {
    display: block;
    border: solid 1px;
    border-bottom-color: #808080;
    border-right-color: #808080;
    border-radius: 0;
    margin: -1em 90% 2em 0;
    padding: 3px;
    width: 250px;
}
.field-name {
    font-size: 13px;
    margin-bottom: 2px;
}
.field-input {
    font-size: 14px;
    margin-bottom:1em;
    width: 250px;
}
.field-line {
    display: inline;
}
.field-element {
    width: 15em;
}
#not_found {
    color:#ff0000;
}
.info {
    float: right;
    margin-top: 30px;
}